@white: #FFFFFF;
@red: #d24a43;
@gray: #dddddd;
@black: #555555;

@mobile: 320px;
@desktop: 1200px;

.mobile-wrapper {
  width: 320px;
  margin: 0 auto;
}
.wrapper {
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}
.pseudo {
  content: "";
  position: absolute;
}
body {
  margin: 0;
  padding: 0;

  font-family: "Open-Sans", sans-serif;
  font-size: 16px;
  color: @black;
}
* {
  box-sizing: border-box;
  transition: 0.6s;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  padding: 0;
  margin: 0;

  list-style: none;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}